<div layout="column" flex layout-padding layout-align="start center">
    <h1 class="md-display-2">Alumnes</h1>
    <div layout="row" layout-align="start start" style="width:100vw">
        <md-input-container>
            <input type="text" placeholder="Filtrar..." ng-model="filtre" name="filtre" />
        </md-input-container>
        <md-input-container>
            <md-select ng-model="opcio" placeholder="ordre">
                <md-option ng-value="opcio" ng-repeat="opcio in opcions">{{ opcio }}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div layout="row" layout-align="center start" layout-wrap flex>
        <div ng-if="loadingBody">
            <md-progress-circular md-diameter="70" md-mode="indeterminate" ng-disabled="false" value="..."></md-progress-circular>
        </div>
        <div style="background-color:#FF4C4C" layout-padding layout="column" layout-align="start center" ng-if="error">
            <h1 class="md-display-3">Error!!</h1>
            <h1 class="md-title">Pareix que hem tingut un error accedint a les dades dels professors :,(</h1>
        </div>
        <md-card ng-if="!error" ng-repeat="professor in professors | orderBy: opcio | filter: filtre" layout-padding class="md-priamry">
            <md-card-title>
                <md-card-title-text class="md-headline">
                    Professor {{ professor.Id }}
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-list>
                    <md-list-item>
                        Nom: <p ng-if="editing != professor.Id + 'Nom'" ng-dblclick="initUpdateProfessor(professor , 'Nom')">{{ professor.Nom }}</p>
                        <input ng-enter="updateProfessor(professor.Id)" ng-if="editing == professor.Id + 'Nom'" type="text" name="professor.nom" ng-model="canviProfessor.Nom" />
                    </md-list-item>
                    <md-list-item>
                        Cognom: <p ng-if="editing != professor.Id + 'Cognom'" ng-dblclick="initUpdateProfessor(professor, 'Cognom')">{{ professor.Cognom }}</p>
                        <input ng-enter="updateProfessor(professor.Id)" ng-if="editing == professor.Id + 'Cognom'" type="text" name="professor.cognom" ng-model="canviProfessor.Cognom" />
                    </md-list-item>
                    <md-list-item>
                        Dni: <p ng-if="editing != professor.Id + 'Dni'" ng-dblclick="initUpdateProfessor(professor, 'Dni')">{{ professor.Dni }}</p>
                        <input ng-enter="updateProfessor(professor.Id)" ng-if="editing == professor.Id + 'Dni'" type="text" name="professor.dni" ng-model="canviProfessor.Dni" />
                    </md-list-item>
                    <md-list-item>
                        Tel: <p ng-if="editing != professor.Id + 'tel'" ng-dblclick="initUpdateProfessor(professor, 'tel')">{{ professor.tel }}</p>
                        <input ng-enter="updateProfessor(professor.Id)" ng-if="editing == professor.Id + 'tel'" type="text" name="professor.tel" ng-model="canviProfessor.tel" />
                    </md-list-item>
                </md-list>
            </md-card-content>
            <md-card-actions>
                <md-button layout="row" layout-align="center center" class="md-warn md-raised" aria-label="Esborrar" ng-click="confirmDelete($event, professor.Id)">
                    <div ng-if="loadingDelete != professor.Id">Esborrar</div>
                    <md-progress-circular class="md-warn md-hue-3" ng-if="loadingDelete == professor.Id" md-diameter="25" md-mode="indeterminate" ng-disabled="false" value="..."></md-progress-circular>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>