
<div style="width:90vw" layout="row">
    <md-content layout-padding flex="30">
        <form name="nouAlumneForm" ng-submit="crearAlumne(nouAlumneForm.$valid)">
            <h2 class="md-headline">Crear nou Alumne</h2>
            <md-input-container class="md-block">
                <label>Nom</label>
                <input type="text" md-maxlength="20" required name="Nom" ng-model="nouAlumne.Nom">
                <div ng-messages="nouAlumneForm.Nom.$error">
                    <div ng-message="required">Aquest camp és requerit.</div>
                    <div ng-message="md-maxlength">El nom  no pot passar de 20 caràcters</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Cognom</label>
                <input type="text" md-maxlength="40" required name="Cognom" ng-model="nouAlumne.Cognom">
                <div ng-messages="nouAlumneForm.Cognom.$error">
                    <div ng-message="required">Aquest camp és requerit.</div>
                    <div ng-message="md-maxlength">El nom  no pot passar de 40 caràcters</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>DNI</label>
                <input type="text" ng-pattern="/[0-9]{8}[A-Z]{1}/" md-maxlength="9" required required name="Dni" ng-model="nouAlumne.Dni">
                <div ng-messages="nouAlumneForm.Dni.$error">
                    <div ng-message="required">Aquest camp és requerit.</div>
                    <div ng-message="md-maxlength">El DNI ha d'estar ben formatat (NNNNNNNNA)</div>
                    <div ng-message="pattern">El DNI ha d'estar ben formatat (NNNNNNNNA)</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Tel</label>
                <input type="text" ng-pattern="/[0-9]{9}/" md-maxlength="9" required name="Tel" ng-model="nouAlumne.Tel">
                <div ng-messages="nouAlumneForm.Tel.$error">
                    <div ng-message="required">Aquest camp és requerit.</div>
                    <div ng-message="pattern">El Telèfon ha d'estar ben formatat (NNNNNNNNN)</div>
                    <div ng-message="md-maxlength">El Telèfon ha d'estar ben formatat (NNNNNNNNN)</div>
                </div>
            </md-input-container>
            <div>
                <md-button layout="row" layout-align="center center" class="md-primary md-raised" type="submit" aria-label="Enviar Fromulari">
                    <div ng-if="!loadingCreate">Crear</div>
                    <md-progress-circular class="md-primary md-hue-1" ng-if="loadingCreate" md-diameter="25" md-mode="indeterminate" ng-disabled="false" value="..."></md-progress-circular>
                </md-button>
            </div>
        </form>
    </md-content>
    <div layout="column" flex layout-align="start center">
        <h1 class="md-display-2">Alumnes</h1>
        <div layout="row">
            <md-input-container>
                <input type="text" placeholder="Filtrar..." ng-model="filtre" name="filtre" />
            </md-input-container>
            <md-input-container>
                <md-select ng-model="opcio" placeholder="ordre">
                    <md-option ng-value="opcio" ng-repeat="opcio in opcions">{{opcio}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div layout="row" layout-align="center start" layout-wrap flex>
            <div ng-if="loadingBody" style="margin-top: 100px;">
                <md-progress-circular md-diameter="70" md-mode="indeterminate" ng-disabled="false" value="..."></md-progress-circular>
            </div>
            <div style="background-color:#FF4C4C" layout-padding layout="column" layout-align="start center" ng-if="error">
                <h1 class="md-display-3">Error!!</h1>
                <h1 class="md-title">Pareix que hem tingut un error accedint a les dades dels alumnes :,(</h1>
            </div>
            <md-card ng-if="!loadingBody || !error" ng-repeat="alumne in alumnes | orderBy: 'alumne.nom'" layout-padding class="md-priamry">
                <md-card-title>
                    <md-card-title-text class="md-headline">
                        Alumne {{alumne.Id}}
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <md-list>
                        <md-list-item>
                            Nom: <p ng-if="editing != alumne.Id + 'Nom'" ng-dblclick="initUpdateAlumne(alumne , 'Nom')">{{alumne.Nom}}</p>
                            <input ng-enter="updateAlumne(alumne.Id)" ng-if="editing == alumne.Id + 'Nom'" type="text" name="alumne.nom" ng-model="canviAlumne.Nom" />
                        </md-list-item>
                        <md-list-item>
                            Cognom: <p ng-if="editing != alumne.Id + 'Cognom'" ng-dblclick="initUpdateAlumne(alumne, 'Cognom')">{{alumne.Cognom}}</p>
                            <input ng-enter="updateAlumne(alumne.Id)" ng-if="editing == alumne.Id + 'Cognom'" type="text" name="alumne.cognom" ng-model="canviAlumne.Cognom" />
                        </md-list-item>
                        <md-list-item>
                            Dni: <p ng-if="editing != alumne.Id + 'Dni'" ng-dblclick="initUpdateAlumne(alumne, 'Dni')">{{alumne.Dni}}</p>
                            <input ng-enter="updateAlumne(alumne.Id)" ng-if="editing == alumne.Id + 'Dni'" type="text" name="alumne.dni" ng-model="canviAlumne.Dni" />
                        </md-list-item>
                        <md-list-item>
                            Tel: <p ng-if="editing != alumne.Id + 'Tel'" ng-dblclick="initUpdateAlumne(alumne, 'Tel')">{{alumne.Tel}}</p>
                            <input ng-enter="updateAlumne(alumne.Id)" ng-if="editing == alumne.Id + 'Tel'" type="text" name="alumne.Tel" ng-model="canviAlumne.Tel" />
                        </md-list-item>
                    </md-list>
                </md-card-content>
                <md-card-actions>
                    <md-button layout="row" layout-align="center center" class="md-warn md-raised" aria-label="Esborrar" ng-click="confirmDelete($event, alumne.Id)">
                        <div ng-if="loadingDelete != alumne.Id">Esborrar</div>
                        <md-progress-circular class="md-warn md-hue-3" ng-if="loadingDelete == alumne.Id" md-diameter="25" md-mode="indeterminate" ng-disabled="false" value="..."></md-progress-circular>
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>